div.header h1{
	font-family: 'font1';
	font-size: 50px;
	padding-top: 30px;
}
div.header img{
	width: 150px;
	height: 150px;
	float: left;
}
div.header{
	margin: 0 500px;
/*	padding-bottom: 0px;*/

}
.clear{
	clear: both;
}
*{
	margin: 0;
	padding: 0;
}
#navbar{
	width: 100%;
	background: #4E342E;
}
.nav_ul{
	padding-left: 50px;
}
#navbar .nav_ul li{
	list-style: none;
	float: left;
}
#navbar .nav_ul li a{
	color:#FFF;
	text-decoration:none;
	padding: 20px 30px;
	display: block;
	text-transform: uppercase;
	font-family: font2;
}
#navbar .nav_ul li a:hover, .active{
	background-color: #5D4037;
}
div#slider img{
	width: 100%;
	height: 300px;
	object-fit: cover;
}
div.quote{
	position: absolute;
	background-color: rgba(255, 255, 255, 0.5);
	top: 45%;
	left: 32%;
	padding: 30px;
	font-family: Myanmar3, Yunghkio;
}
.h{
	font-family: font2;
	text-align: center;
	padding-top: 50px;
}
hr { 
  display: block;
  margin-left: 26%;
  margin-right:26%;
  border-width: 2px;
  margin-top: 30px;
  margin-bottom: 40px;
}
.h p{
	margin-right: 350px;
	margin-left: 350px;
	text-align: center;
	font-family: font2;
}
.d{
	width: 100%;
	height: 30%;
	margin-top: 60px;
}
h3{
	font-family: font2;
	margin-top: 20px;
	padding-left: 1px;
}
.d1,.d2,.d3{
	width: 30%;
	height: 100%;
	float: left;
	text-align: center;
	padding-left: 1.7rem;
}
.d p{
	margin-top: 1.5rem;
	text-align: center;
	padding:0px 100px;
}
.our_shop{
	width: 100%;
	height: 180px;
}
.our_shop h2{
	font-family: font2;
	text-align: center;
	padding-top: 100px;
}
.why{
	margin-left: 3rem;
	width: 100%;
	height: 30%;
	margin-top: 3rem;
}
.img{
	width: 40%;
	height: 100%;
	float: left;
}
.choose{
	float: left;
	width: 50%;
	height: 100%;
	margin-left:3rem;

}
.img1{
	width: 177px;
	height: 175px;
}

.choose h3{
	font-family: font2;
	margin-top: 0 !important;
}
.choose p{
	margin-top: 1rem;
	line-height: 23px;
	font-family: font2;
	text-align: justify;
}
.today{
	font-family: font2;
	text-align: center;
	padding-top: 50px;
}
.today p{
	margin-right: 350px;
	margin-left: 350px;
	text-align: center;
	font-family: font2;
}
.img3{
	width: 100%;
	height: 40%;
	margin-top: 50px;
}
 #aa{
	width: 615px;
	height: 380px;
	padding-left: 4rem;
}
 #bb{
	width: 470px;
	height: 380px;
	padding-left: 4rem;
}
.final{
	width: 100%;
	height: 30%;
	margin-top: 3rem;
}
.final img{
	width: 400px;
	height: 280px;
	float: left;
	margin-left: 7rem;
}
.ol_class{
	float: left;
	width: 50%;
	height: 100%;
	margin-left:5rem;

}
.ol_class h3{
	font-family: font2;
	margin-top: 0 !important;
}
.ol_class ol{
	margin-top: 1rem;
	font-family: font2;
}
.ol_class ol li{
	line-height: 35px;
}
.foo{
	width: 100%;
	background: #4E342E;
	height: 15%;
	float: left;
	margin-top: 5rem;
}

.cop {
	float: left;
	margin-left: 4rem;
    color: white;
    font-family: font2;
}

.rig {
	float: right;
	 margin-right: 4rem;
    color: white;
    font-family: font2;
}